.top{
    
   text-align: center;
   display: block;
   width: 80%;
   margin: 0 auto;
   font-size:18px;
}

.list{
    width: 50%;
    text-align:left;
    margin: 0 auto;
    padding: 20px;
    float: center;
    list-style-position: inside;
    background-color: rgb(219, 224, 224);
}

h1{
    font-family: 'Mukta', sans-serif;
}

h2{
    color: rgb(226, 13, 13);
    font-size: 30px;
}

h3{
    text-align: center;
}

html{
    background-color: #f5ed7f;
}